<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to UrbGarden, <%= @user.first_name %>!</h1>
    <p>
      You have successfully added your event. We look forward to what you bring to the table!<br>
    </p>
    <p>
      Remember, to login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your contribution and have a great day!</p>
  </body>
</html>
