<h2>Search Results</h2>

<ul class="event-list">
  <% @events.each do |event| %>
  <div id="event-div-home">
    <li class="event-list"><%= link_to "#{event.name} – #{event.city}, #{event.state}", event_path(event.id), class: "event-list" %></li>
  </div>
  <% end %>
</ul>
