<div class="form-div">
  <h2>Order Summary</h2>
  <p>Please take a screenshot or print for your records.</p>

  <p>Vendor: <%= @order.user.company %><p>
  <p>Buyer: <%= @order.name %></p>

  <ul>
  <% @order.product_orders.each do |po| %>
    <li><%= po.product.name %> — <%= po.quantity %></li>
  <% end %>
  </ul>
</div>
