<div class="welcome-events profile">
<h3 class="no-background"><%= @event_title %></h4>
<% if current_user %>
  <p>
    Don't see your event here? Add one! —
    <%= link_to "Add Event", new_event_path, class: "add-event" %>
  </p>
<% end %>
</div>


<div id="app"></div>
